<a href="https://colab.research.google.com/github/444474444/-/blob/main/Ch21_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

[문제 1]
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

---

In [4]:
def greet_user(name,age):
  return f"안녕하세요{name}님! 당신은 {age}입니다."
greet_user("[이름]","[나이]")

'안녕하세요[이름]님! 당신은 [나이]입니다.'

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [43]:
def sum_numbers(*nums):
  total=0
  for num in nums:
   total+=num
   return total
nums=input("숫자를 아묻거나 입력하세요").split()
result=sum_numbers(*[int(nums) for i in nums])
print(result)

숫자를 아묻거나 입력하세요33,4

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

---

[문제 3] 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [28]:
def print_name(na="익명"):
    return na
print_name()

'익명'

---

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [30]:
def print_info(name="d",age=29,gender="여"):
   return name,age,gender
print_info()

('d', 29, '여')

---

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [38]:
def ad(a:int,b:int):
  return a+b
a=input("첫번째 숫자")
b=input("두번째 숫자")
ad(int(a),int(b))

첫번째 숫자3
두번째 숫자6

9

---

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [48]:
def odd_numbers(n):
  for i in range(n):
    if i%2==1:
      yield
n=int(input("숫자를 입력하세요"))
result=odd_numbers(int(m)for m in n)
print(result)

KeyboardInterrupt: Interrupted by user

---

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [56]:



add=lambda x,y:x+y
result=add(3,8)
print(result)

11

---

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [81]:
def min_max():
   nums=input("숫자를 입력하세요").split()

num_tup=tuple(int(n)for n in nums)

print("입력한 숫자:",num_tup)
print("최솟값:",min(num_tup))
print("최댓값:",max(num_tup))

ValueError: invalid literal for int() with base 10: '33,4'

---

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [92]:
def is_even(num):
  if num%2==0:
    return True
  else:
    return False
num=int(input("숫자를 입력하세요"))
print(is_even(num))

숫자를 입력하세요9
False

---

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [95]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

num = int(input("숫자를 입력하세요"))
print(factorial(num))

숫자를 입력하세요9

NameError: name 'm' is not defined

---

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [100]:
def print_lengths():
  s=input("문자 입력").split()
  for i in s:
    print(len(i))
print_lengths()

문자 입력안ㄴ옇샤세
5

---

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [112]:
def longer_string(a:str,b:str):
     a=input("첫번째 문자열 입력")
     b=input("두번째 문자열 입력")
     if len(a)>len(b):
      return a
     elif len(a)<len(b):
      return b
     else:
       return a
longer_string(a,b)

첫번째 문자열 입력지난 여름날
두번째 문자열 입력먹을 팥빙수는

'먹을 팥빙수는'